# SPDX-License-Identifier: MIT

if BOARD_SPLITKB_ELORA_REV1_LEFT

config ZMK_KEYBOARD_NAME
    default "Elora"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # BOARD_SPLITKB_ELORA_REV1_LEFT

if BOARD_SPLITKB_ELORA_REV1_LEFT || BOARD_SPLITKB_ELORA_REV1_RIGHT

config ZMK_SPLIT
    default y

config USB_SELF_POWERED
    default n

endif # BOARD_SPLITKB_ELORA_REV1_LEFT || BOARD_SPLITKB_ELORA_REV1_RIGHT
